# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/